.rules-sc {
    // max-width: 991px;
    margin: 0 auto;
    & > div {
      height: 100%;
    }
    table {
      width: 100%;
      td:last-child {
        width: 100px;
      }
      td:nth-child(2), td:nth-child(4){
        width: 20%;
      }
      td, th{
        padding: 10px;
      }
    }
    button {
      padding: 0px;
      background: transparent;
      border: none;
      &:focus{
        outline: none;
      }
    }
    .fa-plus{
      padding-top: 0px;
    }
  }
  
  .mat-option {
    padding: 0px !important;
    height: auto !important;
    span {
      padding: 0px 16px;
      line-height: 3em;
      height: 3em;
    }
  }
  
  .form-group{
    width: calc(100% / 8);
  }

  .mat-checkbox-form{
    padding-bottom: 1.25em!important;
  }