<div class="email-edit-sc">
  <form [formGroup]="editEmailForm" (ngSubmit)="editEmail(editEmailForm.value)"
    class="example-form flex wrap col-100 a-center">
    <!-- <div class="flex wrap a-center"> -->

      <div class="form-group">
        <mat-form-field>
          <input matInput type="text" class="form-control" name="user" placeholder="user" formControlName="user" />
        </mat-form-field>

        <div *ngIf="user.touched && user.invalid">
          <mat-error *ngIf="(user?.errors)['required']">
            User is required
          </mat-error>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput type="text" class="form-control" name="email" placeholder="email" formControlName="email" />
        </mat-form-field>

        <div *ngIf="email.touched && email.invalid">
          <mat-error *ngIf="(email?.errors)['required']">
            Email is required
          </mat-error>
          <mat-error *ngIf="(email?.errors)['email']">
            Email isn`t true
          </mat-error>
        </div>
      </div>

    <div class="example-button-row">
      <div class="button-w-txt">
        <div>
          <p class="p-position-top capitalize">save</p>
        </div>
        <div class="img flex a-center j-center">
          <button mat-flat-button class="capitalize b-green c-white">save</button>
        </div>
      </div>
    </div>

  </form>
</div>