$purple: #3f51b5;

header{
    background: $purple;
    padding: 10px 16px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    button{
        color: white;
        margin-right: 8px;
    }
}